<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="/js/app.js"></script>
<div class="text-center py-2 border-top mt-auto no-print" style="font-size:11px;color:#aaa;">
  Created by : Rudi Philipus @ Broco - 2026
</div>
</body>
</html>
